# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.env

# Django
*.log
local_settings.py
db.sqlite3
media/

# Node
node_modules/
dist/
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
